<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let id;
  export let name;
  export let slug;
  export let twitter;
  export let youtube;
  export let instagram;
  export let button;

  function handleSubmit() {
    dispatch("message", {
      id,
      name,
      slug,
      twitter,
      youtube,
      instagram,
    });
  }
</script>

<form on:submit|preventDefault={handleSubmit}>
  <h1>Link</h1>
  <h2>Details</h2>
  <label for="name">Name</label>
  <input id="name" type="text" bind:value={name} placeholder="Link name" />
  <label for="slug">Slug</label>
  <input id="slug" type="text" bind:value={slug} placeholder="Link slug" />
  <h2>Social Media</h2>
  <label for="instagram">Instagram</label>
  <input
    id="instagram"
    type="text"
    bind:value={instagram}
    placeholder="Instagram username"
  />
  <label for="youtube">Youtube</label>
  <input
    id="youtube"
    type="text"
    bind:value={youtube}
    placeholder="Youtube username"
  />
  <label for="twitter">Twitter</label>
  <input
    id="twitter"
    type="text"
    bind:value={twitter}
    placeholder="Twitter username"
  />
  <button type="submit"> {button} </button>
</form>
