<script>
  import { Link } from "svelte-navigator";

  let hours = new Date().getHours();
  let isDark = hours > 17 || hours < 6 ? true : false;
  const applyDarkMode = function () {
    isDark
      ? (document.body.className = "dark-mode")
      : (document.body.className = "");
  };
</script>

<nav>
    <div class="nav-menu">
      <Link class="nav-items" to="/">Home</Link>
      <Link class="nav-items" to="/list">List</Link>
      <Link class="nav-items" to="/my-link">My Link</Link>
    </div>
    <div class="nav-ends">
      <div class="nav-items">
        <input
          type="checkbox"
          class="toggles"
          name="switch"
          id="switch"
          bind:checked={isDark}
          on:change={() => applyDarkMode()}
        />
        <label for="switch" class="toggles" />
      </div>
      <p class="nav-items" on:click={() => localStorage.removeItem("token")}>
        Logout
      </p>
    </div>
  </nav>