<script>
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();

    export let id
    export let name
    export let url
    export let button

    function handleSubmit() {
		dispatch('message', {
			id,
            name,
            url,
		});
	}
</script>

<form on:submit|preventDefault={handleSubmit}>
    <label for="name">Name</label>
    <input
      id="name"
      type="text"
      bind:value={name}
      placeholder="Site name"
    />
    <label for="url">Url</label>
    <input
      id="url"
      type="text"
      bind:value={url}
      placeholder="Site url"
    />
    <button type="submit"> {button} </button>
  </form>