<script>
  import { Link } from "svelte-navigator";
</script>

<div class="home">
  <main class="home-feature">
    <div class="feature">
      <p class="feature-title">author</p>
      <p class="feature-value"><a href="https://dhnlr.com">DHNLR</a></p>
      <p class="feature-title">backend</p>
      <p class="feature-value">PHOENIX</p>
      <p class="feature-title">frontend</p>
      <p class="feature-value">SVELTE</p>
      <p class="feature-title">api</p>
      <p class="feature-value">GRAPHQL</p>
      <p class="feature-title">repository</p>
      <p class="feature-value"><a href="https://gitlab.com/dhnlr/minimal-link">GITLAB</a></p>
    </div>
    <div class="title">
      <h1>Minimal Link</h1>
      <Link to="/login"
        >Getting started <span class="icon" data-v-1d1f0a38=""
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 100 100"
            class="iconSvg"
            ><path
              d="M51.71,96.28,41.42,85.54,70.74,57.43H0V42.56H70.74L41.42,14.46,51.71,3.72,100,50Z"
            /></svg
          ></span
        ></Link
      >
    </div>
  </main>
</div>
