<script>
  import { getClient, query } from "svelte-apollo";
  import { useParams, Link } from "svelte-navigator";
  import { SLUG } from "../utilities/queries";

  let client = getClient();
  const params = useParams();
  let slug;
  $: {
    slug = query(SLUG, { variables: { slug: $params.slug } });
  }
</script>

<main class="lists">
  {#if $slug.loading}
    Loading...
  {:else if $slug.error}
    Error: {$slug.error.message}
  {:else if $slug.data.content}
    <div class="list">
      <div class="list-details">
        <div class="list-details-name">
          <p>Name</p>
          <h1>{$slug.data.content.name}</h1>
        </div>
        <div class="list-details-socialmedia">
          <p>Social Media</p>
          <a href={$slug.data.content.instagram}>Instagram</a>
          <a href={$slug.data.content.youtube}>Youtube</a>
          <a href={$slug.data.content.twitter}>Twitter</a>
        </div>
      </div>
      <div class="list-sites">
        <p>Sites</p>
        {#each $slug.data.content.sites as site (site.id)}
          <a href={site.url}
            >{site.name}
            <span class="icon" data-v-1d1f0a38=""
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 100 100"
                class="iconSvg"
                ><path
                  d="M51.71,96.28,41.42,85.54,70.74,57.43H0V42.56H70.74L41.42,14.46,51.71,3.72,100,50Z"
                /></svg
              ></span
            ></a
          >
        {/each}
      </div>
    </div>
  {:else}
    <div class="list">
      <div class="list-details">
        <div class="list-details-name">
          <p><strong>Not Found</strong></p>
          <p>Make sure you have correct url.</p>
        </div>
        <div class="list-details-socialmedia">
          <p><strong>Go back</strong></p>
          <Link to="/">Home</Link>
        </div>
      </div>
      </div>
  {/if}
</main>

<style>
</style>
