<script>
  import { onMount } from "svelte";
  import { mutation, getClient } from "svelte-apollo";
  import { useNavigate } from "svelte-navigator";

  import { LOGIN } from "../utilities/queries";

  const navigate = useNavigate();
  let client = getClient();
  const loginMutation = mutation(LOGIN);

  let username = "";
  let password = "";

  onMount(() => {
    if (localStorage.token) {
      navigate("/my-link");
    }
  });

  let handleLogin = async () => {
    try {
      let response = await loginMutation({
        variables: { username, password },
      });
      localStorage.setItem("token", response.data.signin.token);
      navigate("/my-link");
    } catch (error) {
      console.error(error);
    }
  };
</script>

<main class="login">
  <h1>Minimal Link</h1>
  <form on:submit|preventDefault={handleLogin}>
    <label for="username">Username</label>
    <input
      id="username"
      type="text"
      bind:value={username}
      placeholder="Your username"
    />
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      bind:value={password}
      placeholder="Your password"
    />
    <button type="submit"> Login </button>
  </form>
</main>

<style>
</style>
