<script>
  import { getClient, query, mutation } from "svelte-apollo";

  import LinkForm from "../Components/LinkForm.svelte";
  import SiteForm from "../Components/SiteForm.svelte";
  import Nav from "../Components/Navigation.svelte"
  import {
    MINE,
    UPDATE_LINK,
    INSERT_LINK,
    INSERT_SITE,
    UPDATE_SITE,
    DELETE_SITE,
  } from "../utilities/queries";

  let client = getClient();
  const mine = query(MINE);
  const updateLink = mutation(UPDATE_LINK);
  const insertLink = mutation(INSERT_LINK);
  const insertSite = mutation(INSERT_SITE);
  const updateSite = mutation(UPDATE_SITE);
  const deleteSite = mutation(DELETE_SITE);

  const handleLinkUpdate = async (event) => {
    try {
      let response = await updateLink({
        variables: {
          id: event.detail.id,
          name: event.detail.name,
          slug: event.detail.slug,
          twitter: event.detail.twitter,
          instagram: event.detail.instagram,
          youtube: event.detail.youtube,
        },
      });
    } catch (error) {
      console.error(error);
    }
  };

  const handleLinkInsert = async (event) => {
    try {
      let response = await insertLink({
        variables: {
          name: event.detail.name,
          slug: event.detail.slug,
          twitter: event.detail.twitter,
          instagram: event.detail.instagram,
          youtube: event.detail.youtube,
        },
      });
    } catch (error) {
      console.error(error);
    }
  };

  const handleSiteUpdate = async (event) => {
    try {
      let response = await updateSite({
        variables: {
          id: event.detail.id,
          name: event.detail.name,
          url: event.detail.url,
          link_id: event.detail.link_id,
        },
      });
    } catch (error) {}
  };

  const handleSiteInsert = async (event) => {
    try {
      let { data } = mine.getCurrentResult();
      let response = await insertSite({
        variables: {
          name: event.detail.name,
          url: event.detail.url,
          link_id: data.mine.id,
        },
      });
    } catch (error) {
      console.error(error);
    }
  };

  const handleSiteDelete = async (id) => {
    try {
      let response = await deleteSite({
        variables: {
          id,
        },
      });
    } catch (error) {
      console.error(error);
    }
  };

  const insertData = {
    name: "",
    slug: "",
    twitter: "",
    instagram: "",
    youtube: "",
  };

  const insertSiteData = {
    name: "",
    url: "",
  };
</script>

<main class="my-link">
  {#if $mine.loading}
    Loading...
  {:else if $mine.error}
    Error: {$mine.error.message}
  {:else if $mine.data.mine}
    <div class="link-form">
      <LinkForm
        on:message={handleLinkUpdate}
        {...$mine.data.mine}
        button={"Update"}
      />
    </div>
    {#if $mine.data.mine.sites.length > 0}
      <Nav></Nav>
      <div class="site-form">
        <h1>Site</h1>
        <h2>Insert</h2>
        <SiteForm
          on:message={handleSiteInsert}
          {insertSiteData}
          button={"Insert"}
        />
        {#each $mine.data.mine.sites as site (site.id)}
          <h2>Update</h2>
          <div class="site-items">
            <SiteForm
              on:message={handleSiteUpdate}
              {...site}
              button={"Update"}
            />
            <button class="site-delete" on:click={handleSiteDelete(site.id)} title="Delete"
              >x</button
            >
          </div>
        {/each}
      </div>
    {/if}
  {:else}
    <LinkForm on:message={handleLinkInsert} {...insertData} button={"Insert"} />
  {/if}
</main>

<style>
</style>
