<script>
  import { onMount } from "svelte";
  import { Router, Route, Link } from "svelte-navigator";
  import {
    ApolloClient,
    ApolloLink,
    InMemoryCache,
    HttpLink,
    concat,
  } from "@apollo/client";
  import { setClient } from "svelte-apollo";

  import Home from "./Pages/Home.svelte";
  import Login from "./Pages/Login.svelte";
  import List from "./Pages/List.svelte";
  import MyLink from "./Pages/MyLink.svelte";

  // onMount(() => applyDarkMode());

  export let authToken = "";
  function createApolloClient(authToken) {
    const httpLink = new HttpLink({
      uri: "http://localhost:4000/api/graphql",
    });
    const authMiddleware = new ApolloLink((operation, forward) => {
      operation.setContext(({ headers = {} }) => ({
        headers: {
          ...headers,
          authorization: localStorage.getItem("token")
            ? "Bearer " + localStorage.getItem("token")
            : null,
        },
      }));

      return forward(operation);
    });
    const cache = new InMemoryCache();
    const client = new ApolloClient({
      link: concat(authMiddleware, httpLink),
      cache,
    });
    return client;
  }
  const client = createApolloClient(authToken);
  setClient(client);
</script>

<Router basepath="/">
  <Route path="/" component={Home} />
  <Route path="login" component={Login} />
  <Route path="list/*">
    <Route path=":slug" component={List}/>
  </Route>
  <Route path="my-link" component={MyLink} />
</Router>
