:root {
  --bg-color: rgb(247, 247, 247);
  --primary-text-color: #ff3e00;
  --secondary-text-color: rgb(36, 36, 36);
  --input-background: rgb(244, 244, 244);
  --site-update-background: rgb(242, 242, 242);
  --nav-background: rgb(255, 255, 255);
}

.dark-mode {
  --bg-color: rgb(43, 43, 43);
  --primary-text-color: #ff3e00;
  --secondary-text-color: #ddd;
  --input-background: rgb(41, 41, 41);
  --site-update-background: rgb(38, 38, 38);
  --nav-background: rgb(32, 32, 32);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  /* display: flex; */
  background-color: var(--bg-color);
  color: var(--secondary-text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  transition: all 0.2s ease-in-out 0s;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--primary-text-color);
}

input[type="checkbox"].toggles {
  width: 0;
  height: 0;
  visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
}

label.toggles {
  display: inline-block;
  width: 40px;
  height: 21px;
  background-color: var(--secondary-text-color);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  line-height: inherit;
}

label.toggles::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: transparent;
  position: absolute;
  border-radius: 70px;
  border: 2px solid var(--bg-color);
  top: 1.5px;
  left: 2px;
  transition: 0.5s;
}

input.toggles:checked + label.toggles::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

input.toggles:checked + label.toggles {
  background-color: var(--secondary-text-color);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: max-content;
  padding: 0.75rem;
  background-color: var(--nav-background);
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-items {
  padding: 1.75rem;
  align-self: center;
  color: var(--primary-text-color);
}

.nav-ends {
  /* align-self: flex-end; */
  display: flex;
  flex-direction: column;
}

.home,
.login,
.my-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  place-items: center;
  grid-auto-flow: row;
}

.feature {
  border-left: 2px solid var(--secondary-text-color);
  padding-left: 0.45rem;
}

.feature-title {
  margin-bottom: 0.25rem;
}

.feature-value {
  font-weight: 500;
  line-height: 1;
  margin-top: 0.25rem;
}

.feature a {
  color: var(--secondary-text-color);
  text-decoration: none;
  border-bottom: 0.7px dotted var(--secondary-text-color);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.feature a:hover {
  border-bottom: 0.7px solid var(--secondary-text-color);
}

.title h1 {
  display: inline;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-size: 14rem;
  font-weight: 900;
  line-height: 1;
}

.title a {
  display: inline-block;
  padding: 9px 0px;
  margin-left: 1.25rem;
  margin-right: 39px;
  border: 0;
  border-radius: 0px;
  background-color: transparent;
  color: var(--secondary-text-color);
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.title a:hover {
  border-bottom: 1px solid var(--primary-text-color);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.title .icon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 0.75rem;
  fill: var(--primary-text-color);
}

.title a:hover .icon {
  margin-left: 1.5rem;
}

form input {
  display: block;
  background-color: var(--input-background);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid var(--secondary-text-color);
  border-radius: 0;
  padding-left: 0;
  color: var(--secondary-text-color);
  font-size: 1.125rem;
  transition: all 0.2s ease-in-out 0s;
}

form input:focus {
  outline: unset;
  border-bottom: 1.5px solid var(--primary-text-color);
}

form label {
  margin: 1.5rem 0 0.35rem;
  font-size: 0.87rem;
  color: var(--secondary-text-color);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--secondary-text-color);
  border-radius: 0;
}

input:disabled {
  color: #ccc;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: var(--primary-text-color);
}

button:focus {
  border-color: var(--primary-text-color);
}

button[type="submit"] {
  background-color: var(--secondary-text-color);
  margin-top: 0.45rem;
  padding: 0.875rem;
  border: none;
  width: 100%;
  font-size: 1.125rem;
  color: var(--bg-color);
  transition: all 0.5s ease 0s;
}

button[type="submit"]:hover,
.site-items .site-delete:hover {
  background-color: var(--primary-text-color);
}

.link-form {
  border: 2px solid var(--secondary-text-color);
  padding: 2.5rem;
}
.site-form {
  border: 2px solid var(--secondary-text-color);
  padding: 2rem;
}

.site-items {
  position: relative;
  background-color: var(--site-update-background);
  padding: 0.5rem;
  border: 1px solid var(--secondary-text-color);
}

.site-items .site-delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.15rem;
  border: none;
  border-radius: 0;
  background-color: var(--secondary-text-color);
  color: var(--bg-color);
}

.lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 640px; */
  height: 100%;
  /* border: 10px solid tomato; */
}

.list {
  border: 2px solid var(--secondary-text-color);
  width: 640px;
  max-width: 90%;
}

.list p {
  text-transform: uppercase;
  font-weight: 300;
}

.list-details {
  display: flex;
  flex-wrap: wrap;
  padding: 1.75rem;
  border-bottom: 2px solid var(--secondary-text-color);
}

.list-details-name {
  flex-grow: 4;
}

.list-details-socialmedia {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.list-details-socialmedia a {
  padding-bottom: 0.15rem;
}

.list-sites {
  padding: 1.75rem;
}

.list-sites a {
  display: flex;
  flex-wrap: wrap;
  padding: 0.15rem 0;
  width: 100%;
  border-top: 1.5px solid var(--secondary-text-color);
  border-bottom: 1.5px solid var(--secondary-text-color);
  transition: all 2s ease-in-out 2s;
}

.list-sites .icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 0.75rem;
  fill: var(--primary-text-color);
  transition: all 2s ease-in-out 2s;
}

.list-sites a:hover {
  justify-content: space-between;
  transition: all 2s ease-in-out 2s;
}

@media (max-width: 840px) {
  .home-feature {
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;    
  }
  .home-feature div {
    grid-column: 1;
    justify-self: start;
    margin-left: 1.75rem;
  }
  .home-feature h1 {
    font-size: 4rem;
    display: block;
    margin-bottom: .15rem;
  }
  .home-feature a {
    margin: 0
  }
  .list {
    min-height: 95%;
  }
}
